node_modules/
dist/

__tests__/
e2e/
.env
.env.*
.DS_Store
*.sqlite
backups/
coverage/
*.tgz
*.bak
*.tmp
*.swp
*.pyc
*.pyo
*.pyd
*.db
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.class
*.jar
*.war
*.ear
*.iml
*.sublime*
*.vscode
.idea/
